body {
	background-color: #2b303a;
	color: #0e1116;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: normal;
}

.container {
	width: 100%;
	margin: 0px 20px;
}

.tereziClickClass button {
	background-color: #008282;
	height: 36px;
	font-family: Verdana;
	font-size: 24px;
	color: #0e1116;
	margin: 0px 30px;
	border: none;
	cursor: pointer;
}
.tereziClickClass button:hover {
	background-color: #026970;
}

.tereziGangMembers button {
	background-color: #b3001b;
	font-family: Verdana;
	font-size: 24px;
	color: #0e1116;
	margin: 0px 30px;
	border: none;
	cursor: pointer;
}
.tereziGangMembers button:hover {
	background-color: #9b061c;
}

.tereziDisplay p {
	margin: 20px 75px;
	word-wrap: break-word;
	width: 180px;
	height: 80px;
	background-color: #ffffff;
	border: #0e1116 5px solid;
}

.tpsDisplay p {
	margin: 20px 85px;
	word-wrap: break-word;
	width: 150px;
	height: 80px;
	background-color: rgb(134, 133, 133);
	border: #0e1116 5px solid;
}
