/* PATCHNOTES*/
#patchNotesTitle {
	width: 100%;
	background-color: #0e1116;
}

.patchnoteContainer h2 {
	font-size: 30px;
}

.patchnoteContainer li {
	font-size: 24px;
}

.patchnoteContainer p {
	font-size: 24px;
}

#patch3 {
	display: flex;
	background-color: rgb(111, 209, 111);
	padding-bottom: 5px;
}
#patch4 {
	display: flex;
	background-color: rgb(232, 243, 76);
	padding-bottom: 5px;
}
